.section {
  display: flex;
  justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #A4BCC9;
  color: white;
}

.section h1 {
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 70px;
    font-family: 'Herr Von Muellerhoff';
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #F4F1EC;
  color: #C9B6A4;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
  box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.377);
}

.container-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.container h2 {
  font-size: 40px;
  margin-bottom: 0rem;
}

.container p {
  color: black;
  font-size: 15px;
  margin-bottom: 2rem;
}

.container form input {
  max-width: fit-content;
  background-color: #c9b6a44b;
  border-style: none;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60px;
  width: 100%;
  z-index: 100;
  border-bottom: white solid;
}

.nav-logo {
  margin: 20px;
  min-width: 30px;
  min-height: 30px;
  color: white;
  font-size: xx-large;
  font-family: 'Italiana';
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: large;
}

.nav-link {
  text-decoration: none;
  margin: 2rem;
  color: white;
}

.button-primary {
  font-family: 'Glook';
  border-width: 0px;
  border-radius: 10px;
  max-width: fit-content;
  background-color: #C9B6A4;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  text-align: center;
  text-justify: center;
  transition: 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #F4F1EC;
  color: #C9B6A4;
  transition: 0.3s ease-in-out;
}

.footer {
  display: flex;
  position: absolute;
  background-color: #A4BCC9;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60px;
  width: 100%;
  z-index: 100;
}

.arch-image {
  width: 318px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}