.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button-primary {
  background-color: #ffffff;
  color: #282c34;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}
