.container {
  display: "flex";
  flex-direction: "column";
  background-color: "#282c34";
  min-height: "100vh";
  justify-content: "center";
  align-items: "center";
}

.nav {
  min-height: "60px";
  flex-direction: "row";
  padding-left: "150px";
  padding-right: "150px";
  justify-content: "space-between";
  align-items: "center";
}

