.container {
  display: flex;
  flex-direction: column;
  background-color: #7c8eb1;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  background-image: url("images/hero.jpg");
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  align-items: left;
  padding-left: 150px;
  padding-right: 150px;
}

.nav {
  display: flex;
  position: absolute;
  background-color: transparent;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60px;
  width: 100vw;
  z-index: 100;
  border-bottom: white solid;
}

.nav-logo {
  margin: 20px;
  min-width: 30px;
  min-height: 30px;
  color: white;
  font-size: xx-large;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: large;
}

.nav-link {
  text-decoration: none;
  margin: 2rem;
  color: white;
}

.hero-text {
  color: white;
  font-size: 100px;
  max-width: min-content;
  letter-spacing: 7px;
  margin-bottom: 2.5rem;
}

.button-primary {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #F4F1EC;
  border-width: 0px;
  border-radius: 2px;
  font-family: 'Glook';
  font-weight: 600;
  font-size: large;
  color: #C9B6A4;
}

.info-container {
  display: flex;
  flex-direction: column;
  background-color: #F4F1EC;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.info-list {
  list-style-type: none;
  color: #C9B6A4;
  display: flex;
}

.info-text {
  font-weight: 200;
}

.info-list-item {
  margin: 3rem;
}

.divider {
  width: 2px;
  background-color: #C9B6A4;
  margin: 2rem;
  height: 100%;
}

